<!DOCTYPE html>
<html lang="en">
<%= include ./partials/header %>
<body>
  <%= include ./partials/navbar %>
    <h1 class="h1 text-center">Welcome to your Dashboard</h1>
    <a href="/"><button>Log Out</button></a>

    <%= include ./partials/scripts %>
</body>
</html>