<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST">
      <div>
      <label for="login">Login: </label>
      <input type="text" id="login" placeholder="Username/Email" required></input>
      </form>
      </div>
<div>
      <label for="password">Password: </label>
      <input type="password" id="password" placeholder="Password"></input>
    </div>
      <a href="/dashboard"><button>Log In</button></a>
  </form>
  </body>    
</html>
